$bg-color: #f0eae5;
$title-color: #606470;
$key-color: #26243d;
$key-bg-color: #f8f8f8;
$key-border-color: #221e36;
$key-active-color: #76777c; 
$key-functional-bg-color: #979ba6;
$key-shadow-color: #363949; 
$white-color: #fff;
$keyboard-bg-color: #f9f9f9;
$link-color: #272e4f;
$link-hover-color: #000000;
$textarea-color: #14150b;