$bg-color: #eeeeee;
$title-color: #606470;
$key-color: #26243d;
$key-bg-color: #fffaf2;
$key-border-color: #e2e2e2;
$key-active-color: #76777c; 
$white-color: #fff;
$keyboard-bg-color: #f4f9f4;
$link-color: #272e4f;
$link-hover-color: #000000;