@import '../css_modules/mixins.scss';
@import '../css_modules/normalize.scss';

.main {
  padding: 50px 0 0;
}

.description {
  font-size: 24px;
  color: $title-color;
}

.main-bg {
  @include background;
}