@mixin keyboard-row {
  display: grid;
  column-gap: 5px;
  margin-top: 5px;
  justify-content: center;
}

.keyboard {
  margin: 25px;
}

.keyboard-wrapper {
  display: flex;
  justify-content: center;
}

.keyboard-row-0 {
  @include keyboard-row;
  grid-template-columns: repeat(14, 1fr);
}

.keyboard-row-1 {
  @include keyboard-row;
  grid-template-columns: repeat(15, 1fr);
}

.keyboard-row-2 {
  @include keyboard-row;
  grid-template-columns: repeat(12, 1fr) 15%;
}

.keyboard-row-3 {
  @include keyboard-row;
  grid-template-columns: 10% repeat(9, 1fr) 6% 1fr 16%;
}

.keyboard-row-4 {
  @include keyboard-row;
  grid-template-columns: repeat(3, 1fr) 39% repeat(3, 6%) repeat(2, 1fr);
}


.keyboard-button {
  padding: 15px 25px;
  font-size: 18px;
  color: #26243d;
  background-color: #fffaf2;
  border: 1px solid #e2e2e2;
  transition: 0.2s linear;
}

.keyboard-button__functional {
  padding: 15px 25px 15px 10px;
  background-color: #e2e2e2;
}

.keyboard-button:active,
.keyboard-button__active {
  background-color: #76777c;
  color: #fff;
}
